# System/IDE files
.DS_Store
.idea

# Dependencies
node_modules

# Generated code
coverage
public
bin

# Precaution
app/certs

#terraform/grunt
.terragrunt-cache
.terraform-cache
.terragrunt.lock.hcl
.terraform.lock.hcl
./devops/terragrunt-test