// Classification Banner
$classification-background: #000;
$classification-color: #fff;

// Navigation Panel
$navigation-active-border-width: 4px;
$navigation-active-border: #e3f2fd;
$navigation-background: #0d47a1;
$navigation-hover: #2196f3;

// General
$transparent-background: rgba(0, 0, 0, 0);
$shadow-background: rgba(0, 0, 0, 0.25);
$lightgray-border: #aaa;
$error-red: #B91913;
